[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "instance_exploration/quick-cliques"]
	path = instance_exploration/quick-cliques
	url = https://github.com/darrenstrash/quick-cliques.git
